<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" accept-charset="UTF-8"/>
<title>{% block title %}Une erreur est survenue : {{ status_text }}{% endblock %}</title>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% block stylesheets %}
<link href="{{ asset('bundles/acmebiomedical/css/main.css') }}"
	media="all" rel="stylesheet" type="text/css" />
{% endblock %}  
</head>
<body>
	<div id="content">
		{% block content %} 
		{% endblock %}
	</div>
</body>
</html>